{% autoescape off %}
Olá {{ user.razao_social }},

Obrigado por se cadastrar no Valuation IA!

Para ativar sua conta e começar a usar a plataforma, por favor, clique no link abaixo:

<a href="{{ protocol }}://{{ domain }}{% url 'users:activate' uidb64=uid token=token %}">Ativar minha conta</a>

Se o link acima não funcionar, copie e cole esta URL no seu navegador:
{{ protocol }}://{{ domain }}{% url 'users:activate' uidb64=uid token=token %}

Se você não se cadastrou, por favor, ignore este e-mail.

Atenciosamente,
Equipe Valuation IA
{% endautoescape %}